body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	}
fieldset, img {
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym {
	border: 0;
	}

/* Semantic elements */
body {
	margin: 0;
	padding: 0;
	font-family: 'News Cycle', sans-serif;
}

/* Container elements*/
.container {
	background-color: #ccccff;
}

/* Headings */
h1 {
	font-family: 'News Cycle', sans-serif;
	font-size: 2em;
	color: black;
  text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

h2 {
  font-family: 'News Cycle', sans-serif;
	font-size: 1em;
	color: black;
  text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-family: 'News Cycle', sans-serif;
	color: black;
  text-align: center;
	text-transform: uppercase;
	word-spacing: 1.5em;
}

h4 {
	font-family: 'Calligraffitti', cursive;
	color: black;
  text-align: left;
}

h5 {
	font-family: 'Calligraffitti', cursive;
	text-transform: uppercase;
	color: black;
  text-align: center;
	word-spacing: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Text styles */
em {
	font-style: italic;
}

p {
	font-family: 'News Cycle', sans-serif;
	color: black;
	text-align: left;
  }

/* Body elements */

a {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
}

table > .center {
    margin-left:auto;
    margin-right:auto;
		display: block;
  }

/* Navigation */
.logo {
	color: #000000;
	float: left;
	padding-left: 25px;
	font-size: 16px;
	font-weight: bold;
}

.logo > a {
	text-decoration: none;
	color: #000000;
}

.banner {
	width:100%;
	display: block;
}

.banner > .banner-image {
	width: 100%;
	display:block;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	list-style: none;
	text-align: right;
	font-size: 14px;
	padding: 0 0 0 20px;
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover{
	color: #clclcl;
}

/* Media Queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

	}
}
