body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	}
fieldset, img {
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym {
	border: 0;
	}

/* Structural elements */
#background-img-reflections {
	background-image:url("images/reflections-nav-button.jpg");
}

#background-img-technical{
	background-image:url("images/technical-nav-button.jpg");
}

#background-img-cultural {
	background-image:url("images/cultural-nav-button.jpg");
}

#background-img-index-web-banner {
	background-image:url("images/web-banner-index.jpg");
}

/* Headings */
h1 {
	font-family: 'Calligraffitti', cursive;
	color: black;
  text-align: center;
}

h2 {
  font-family: 'News Cycle', sans-serif;
	text-transform: uppercase;
	color: black;
  text-align: center;
}

h3 {
	font-family: 'Calligraffitti', cursive;
	color: black;
  text-align: left;
}

h4 {
	font-family: 'Calligraffitti', cursive;
	color: black;
  text-align: left;
}

h5 {
	font-family: 'Calligraffitti', cursive;
	text-transform: uppercase;
	color: black;
  text-align: center;
	margin-left: 10px;
}

/* Text styles */
em {
	font-style: italic;
}

p {
	font-family: 'News Cycle', sans-serif;
	color: black;
	text-align: left;
  }

/* Body elements */

img {
  text-align: left;
}

ul {
	list-style-type: none;
	text-align: left;
}

/* hyperlinks */
a:link {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
	color: black;
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
	text-decoration: none;
}

a:active {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
	color: black;
	text-decoration: none;
}

.navigation ul {
	text-transform: uppercase;
	list-style-type: none;
	margin-left: 100px;
}

.navigation li {
	display: inline-block;
}

.navigation a:link {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
}

.navigation a:visited {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
}

.navigation a:hover {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
}

.navigation a:active {
	font-weight: bold;
	font-family: 'News Cycle', sans-serif;
}
