body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	}
fieldset, img {
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym {
	border: 0;
	}

body {
	background-repeat: no-repeat;
}

.h1 {
	font-size: 160px;
	font-family: 'Shrikhand', cursive;
	color: white;
  text-align: center;
	text-shadow: 2px, 2px, 2px, rgb(255, 0, 0);
}

.h2 {
	font-size: 50px;
	font-family: 'Fira Sans', sans-serif;
	text-transform: uppercase;
	color: black;
  text-align: center;
}

.h3 {
	font-size: 24px;
	font-family: 'Fira Sans', sans-serif;
	color: black;
  text-align: center;
}

.h4 {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Fira Sans', sans-serif;
	color: black;
	indent: 10px;
	margin-left: 350px;
}

section {
	float: left;
	width: 73%;
	line-height: 200%;
}

aside {
	float: right;
	width: 20%;
}

.p {
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	color: black;
  indent: 10px;
	margin-left: 350px;
	padding-bottom: 20px;
}

.image {
  text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

a:link {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

a:visited {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

a:hover {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(64,64,64);
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

a:active {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(64,64,64);
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

ul {
	list-style-type: circle;
	margin-left: 20px;
}

.navigation ul {
	text-transform: uppercase;
	list-style-type: none;
	margin-left: 100px;
}

.navigation li {
	display: inline-block;
}

.navigation a:link {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 100px;
	font-family: 'Fira Sans', sans-serif;
	color: white;
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

.navigation a:visited {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 100px;
	font-family: 'Fira Sans', sans-serif;
	color: white;
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

.navigation a:hover {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 100px;
	font-family: 'Fira Sans', sans-serif;
	color: rgb(0,0,0);
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}

.navigation a:active {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 100px;
	font-family: 'Fira Sans', sans-serif;
	color: white;
	text-shadow: 2px, 2px, 4px, rgb(255, 0, 0);
}
